#comment {
    text-align: center;
}

#comment1 {
    text-align: center;
}

.fb-comments {
    margin-left: 500px;
}

#f_submit {
    width: 620px;
    background-color: gray;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
}



#f_2 {
    font-size:large;
    margin-left: 20px;
    color: white;
}

#f_3{
    font-size: large;
    color: white;
    margin-left: 20px;
}

#f_submit {
    width: 745px;
    background-color: gray;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
 }

 #f_email {
    height: 30px;
    width: 740px;
}

.fa {  
    padding: 20px;
    font-size: 20px;
    width: 25px;
    text-align: left;
    text-decoration: none;
    
  }

  .fa:hover {
      opacity: 0.7;
  }

  .fa-facebook {
    background:#163948;
    color: white;
   
  }

  .fa-instagram {
    background: #163948;
    color: white;
   
  }

  .fa-linkedin {
    background:#163948;
    color: white;
    
  }



@media only screen and (max-width: 500px){
    #comment {
        margin-left: 10px;
    }
    
    #comment1 {
       margin-left: 10px;
    }
    
    .fb-comments {
        margin-left: 50px;
    }

    #f_submit {
        width: 458px;
        background-color: gray;
        border-radius: 5px;
        color: white;
        margin-top: 10px;
    }

    footer {
        width: 280px;
    }

    

     #f_2 {
        font-size:medium;
        margin-left: 0px;
        color: white;
    }

    #f_3{
        font-size: medium;
        color: white;
        margin-left: 0px;
    }

    #f_submit {
       width: 110px;
       background-color: gray;
       border-radius: 5px;
       color: white;
       margin-top: 10px;
    }

    #f_email {
       height: 30px;
       width:110px;
    }

    .fa {  
       
        padding: 0px;
        font-size: 20px;
        width:10px;
        text-align: left;
        text-decoration: none;
        
      }
    
    
}