input[type=submit] {
    background-color:#163948;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left:500px;
    font-size: larger;
    
    width:15%;
  }
  
input[type=submit]:hover {
    background-color: #45a049;
  }

  #submit {
    background-color:#163948;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left:400px;
    
    width:30%;
}



.container {
    background-color:white;
    border-color: #163948 ;
    border-style: solid;
    border-radius: 20px;
    border-width: 7px;
   
    color:#54595F;
    font-family: open sans;
    font-size: large;
  }

  .col-60 {
    
    width: 25%;
    margin-top: 6px;
    margin-left:270px;
  }
  
.col-40 {
    
    width: 20%;
    margin-top: 6px;
    margin-left:500 px;
    
  }
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }

#img {
    margin-left: 400px;
}

#heading {
    margin-left: 420px;
}

#heading2 {
    margin-left: 200px;
}

@media only screen and (max-width: 500px) {

    .container {
        background-color:white;
        border-color: #163948 ;
        border-style: solid;
        border-radius: 20px;
        border-width: 7px;
       
        color:#54595F;
        font-family: open sans;
        font-size: large;
        width: 600px;
      }
    #img {
        margin-left: 0px;
    }

    #heading2 {
        margin-left: 0px;
    }

    #heading {
        margin-left: 20px;
    }

    #submit {
        background-color:#163948;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-left:200px;
        
        width:30%;
    }
}